<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login-Photogrammetry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css">
    <!--Imports a model-viewer JavaScript code -->
    <!--It helps to handle how the 3D Object would be displayed -->
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="flex justify-center items-center">
    <div class="text-center">
        <br>
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold">
                Admin-Dashboard
            </h1>
            <div class="divider"></div>
            <br>
            <!-- <div class="flex justify-center items-center">
                    <img src="example-GLTFs/1200px-User-admin.png" alt="Trulli" height="128" width="128">
                </div> -->
            <div class="flex flex-col w-full lg:flex-row">
                <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center"><img
                        src="example-GLTFs/1200px-User-admin.png" alt="Trulli" height="128" width="128"></div>
                <div class="divider lg:divider-horizontal"></div>
                <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center"><img
                        src="example-GLTFs/user.png" alt="Trulli" height="128" width="128"></div>
            </div>

            <br>
            <div class="divider"></div>
            <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center"><a href="logs.html"><img
                        src="example-GLTFs/462642.png" alt="Trulli" height="128" width="128"></a></div>
            <div class="divider"></div>
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>User Level</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        
                    </tbody>
                </table>
            </div>
            <div class="divider"></div>
            <div class="overflow-x-auto">
                <h2>Job List Panel</h2>
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>Unique ID</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>User ID</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="jobTableBody">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
    <script src="userdashboard.js"></script>
</body>

</html>